'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Status-Bar Stats'
      'command': 'status-bar-stats:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Status-Bar Stats'
      'submenu': [
        {'label': 'Toggle', 'command': 'status-bar-stats:toggle'}
      ]
    ]
  }
]
